<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List</title>
</head>

<body>
  <div class="container">
    <div class="background-image"></div>
    <header class="header">

      <form class="form" action="#" method="get">
        <label for="search">
          <img src="../images/content/senla_logo.svg" alt="логотип компании Senla">
        </label>
        <input id="search" type="search" name="search" placeholder="Search task for to do" autofocus>
        <button class="btn-search" type="submit"></button>

      </form>
      <nav class="nav">
        <ul class="nav-list">
          <li id='all' class="items items-checked">All</li>
          <li id='active' class="items ">Active</li>
          <li id='done' class="items ">Done</li>
        </ul>
      </nav>

    </header>

    <main class="main">


      <section class="field-add-task">
        <form action="" class="field-add-task__form">
          <label for="new-task">New Task</label>
          <textarea class="new-task" name="" id="new-task" maxlength="200"></textarea>
          <button class="btn-add-task btn">ADD</button>
        </form>

      </section>

      <section class="list">

        <ul class="todo-list">
          <!-- <li class="todo-task">
            <p class="todo-task__text">пвап</p><button class="btn-mark-important">MARK IMPORTANT</button><button
              class="btn-clear"></button>
          </li> -->
        </ul>

      </section>
    </main>
  </div>
</body>

</html>