@media screen and (max-width: 360px) {
  // .form {
  //   input {
  //     margin-left: 20px;
  //     padding-left: 75px;
  //     // width: 501px;
  //     // height: 71px;

  //     &::placeholder {
  //       font-size: 26px;
  //     }
  //   }
  // }
  .background-image {
    top: 227px;
    left: 0;
  }

  .btn-mark-important,
  .btn-clear {
    display: block;
  }
}
