@media screen and (max-width: 768px) {
  .background-image {
    top: 227px;
    left: 0;
  }
  .btn-mark-important,
  .btn-clear {
    display: block;
  }
  .btn-mark-important {
    align-self: flex-start;
    margin-right: -51px;
    font-size: 80%;
    width: 108px;
  }
  .btn-clear {
    align-self: flex-end;
  }
}
